.button {
    -fx-padding: 5 22 5 22;   
  
    -fx-border-width: 2;
    -fx-background-radius: 12;
    -fx-background-color: #00C781;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #02b174;
}