@font-face {
    src: url('../../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    src: url('../../assets/fonts/Roboto-MediumItalic.ttf');
}
@font-face {
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}
.label-bold {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #555;
}
.label-Medium-italic {
    -fx-font-family: "Roboto Medium Italic";
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}
.label-regular {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}