.table-view {
    -fx-background-color: rgb(255, 255, 255);
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 10px 0 5px 0;
    -fx-border-style: solid none; -fx-border-width: 0.2; -fx-border-color: black;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.yellow-button{
    -fx-background-radius: 8px;
    -fx-background-color: #FFBB38;
    -fx-effect:  dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 6, 0, 0, 2);}

